@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-text:#555;
$color-title: #333;
$color-texte-head: #e2f7ff;
$color-back-head: #0c6588;
$color-menu:#e2f7ff;
$color-back-main:#fff;
$color-gray: #eee;

@mixin triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 20px 17px 0;
    border-color: transparent #f1f1f1 transparent transparent;
}
@mixin hole{
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 1px 1px 2px gray;
}
@mixin title_hole{
    height: 12px;
    width: 12px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 3;
}

body{
    // line-height: 2.0rem;
    width: 100vw;
    font-size: 1.1rem;
    font-family: open sans;
    color: $color-text;
    margin: 0;
    h1{
        font-size: 3.0rem;
        font-family: raleway;
        margin: 0;
        text-shadow: 1px 1px 40px rgb(56, 56, 56);
        font-weight: 400;
    }
    h2{
        font-size: 2.4rem;
        font-family: raleway;
        color: $color-title;
        font-weight: 500;
    }
    h3{
        font-size: 1.8rem;
        font-family: raleway;
        color: $color-title;
    }
    h4{
        font-size: 1.4rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        &::after{
            content: "";
            height: 20px;
            flex: 1;
            margin-left: 1em;
            background-image: radial-gradient(rgb(236, 236, 236) 3px, transparent 4px);
            background-size: 20px 20px;
        }
    }
    nav{
        .navi{
            list-style-type: none;
            text-align: center;
            padding: 0;
            margin: 0;
            background-color: $color-menu;
            li{
                color: $color-back-head;
                padding: 10px;
                transition: all 0.5s;
                i{
                    padding: 10px;
                }
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }
    header{
        background-color: $color-menu;
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
            }
        }
        .head{
            padding: 20px;
            background-color: $color-back-head;
            color: $color-texte-head;
            background-image: url(../instructions/ressources/images/header.jpg);
            background-repeat: no-repeat;
            background-position: center;
            img{
                width: 20%;
                margin: 10px;   
            }
            article{
                width: 100%;
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5px;
                div{
                    width: 35%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: 2rem;
                    }
                    p{
                        font-size: 1.2rem;
                    }
                }
            }
        }
        p{
            margin: 0;
        }  
    }
    main{
        width: 95%;
        margin: auto;
        .summary{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                font-weight: 500;
            }
            a{
                color: $color-back-head;
            }
        }
        section{
            h3{
                font-size: 2.1rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                &::after{
                    content: "";
                    height: 20px;
                    flex: 1;
                    margin-left: 1em;
                    background-image: radial-gradient(rgb(236, 236, 236) 3px, transparent 4px);
                    background-size: 20px 20px;
                }
            }           
            .tags{
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 30px;
                p{
                    position: relative;
                    background-color: #f1f1f1;
                    padding: 8px 20px;
                    border-radius: 0 5px 5px 0;
                    box-shadow: 2px 2px 5px gray;
                    font-size: 0.8rem;
                    &::before{
                        content: '';
                        @include triangle;
                        position: absolute;
                        top: 0;
                        left: -20px;
                        z-index: 2;
                    }
                    &::after{
                        content: '';
                        @include hole;
                        position: absolute;
                        top: 30%;
                        left: -5px;
                        z-index: 3;
                    }
                }
            }
        }
        .gallery{
            img{
                width: 95%;
            }
            p{
                text-align: center;
                font-size: 0.8rem;
            }
            article{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                img{
                    width: 15%;
                }
            }
            .marque{
                font-size: 0.9rem;
                text-align: left;
                margin-top: 40px;
            }
        }
        .price{
            background-color: $color-gray;
            position: relative;
            height: 200px;
            .amount{
                position: absolute;
                top: 20%;
                left: 5%;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                h4{
                    font-size: 2.2rem;
                    margin: 5px;
                    font-weight: 400;
                }
                p{
                    font-size: 0.7rem;
                }
            }
            .cart{
                position: absolute;
                top: 5%;
                right: 3%;
                width: 35%;
                height: 60%;
                .add{
                    background-color: $color-back-head;
                    color: $color-texte-head;
                    padding: 0 20px;
                    height: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    transition: all 0.5s;
                    &:hover{
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
                .want{
                    background-color: white;
                    color: $color-back-head;
                    padding: 0 20px;
                    height: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    font-size: 0.9rem;
                    transition: all 0.5s;
                    &:hover{
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
            }
            .warrant{
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: rgb(190, 190, 190);
                width: 100%;
                text-align: center;
                font-size: 0.9rem;
                padding: 5px 0;
            }
        }
        .caract{
            font-size: 1rem;
            margin-top: 30px;
        }
        .descriptif{
            h3{
                padding: 30px 0;
            }
            
            img{
                width: 90%;
                border: 1px solid $color-gray;
                padding: 0 20px;
            }
            p{
                font-size: 0.9rem;
            }
        }
        .tableur{
            width: 95%;
            margin: auto;
            h3{
                &::after{
                    display: none;
                }
            }
            article{
                width: 90%;
                margin: auto;
                h4{
                    padding-top: 30px;
                }
                table{
                    width: 100%;
                    border: 3px solid rgb(192, 192, 192);
                    border-collapse: collapse;
                    tr{ 
                        border: 2px solid $color-gray;
                        height: 40px;
                        td{
                            padding-left: 20px ;
                            text-align: left;
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
    footer{
        width: 100%;
        margin-top: 50px;
        background-color: $color-title;
        section{
            width: 90%;
            margin: auto;
            text-align: center;
            padding-top: 50px;
            h2{
                color: white;
                font-size: 2.3rem;
                font-weight: 400;
            }
            article{
                img{
                    width: 23%;
                    border-radius: 5px;
                }
                i{
                    width: 15%;
                    font-size: 2rem;
                    color: rgb(192, 192, 192);
                }
                
            }
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            a{
                color: white;
                font-size: 0.9rem;
            }
        }
    }
}
// 
// 
// TABLET
// 
// 
@media screen and (min-width: 480px) {

nav{
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li{
            width: 45%;
            margin: auto;
        }
    }
}

body{  
    header{
        section{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            p{
                font-size: 0.9rem;
                padding: 5px 10px;
            }
        }
        .head{
            div{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            article{
                width: 50%;
            }
        }
    }
    main{
        .summary{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 50px;
        }
        .gallery{
            img{
                width: 100%;
            }
            article{
                justify-content: center;
                gap: 20px;
                img{
                    width: 7%;
                }
            }
        } 
        .descriptif{
            img{
                width: 50%;
                padding: 0 25%;
            }
            .desk{
                width: 100%;
                padding: 0;
            }
        }   
        .tableur{
            width: 100%;
            article{
                width: 100%;
                margin: 0;
            }
        }    
    }
    footer{
        section{
            article{
                img{
                    width: 10%;
                }
                i{
                    width: 5%;
                }
            }
            div{
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px;
            }
        }
    }
}
} 
// 
// 
// 
// DESKTOP
// 
// 
// 
@media screen and (min-width: 960px){

}